
$white: #fefefe;
$blue: #36444f; // 54, 68, 79
$orange: #ff4b38; // 255,75,56

$red: #ff4b38;
$dark-red: #e01200;
$green: #54b74e;
$black: #2E2E46;
$slate: #646473;
$grey: #81818E;
$light-grey: #d8d8d8;
$mist: #f8f8f8;

$shadow: rgba(0,0,0,.1);
$standard-shadow: 0px 2px 4px $shadow;