<template>
    
    <div class="board">
        <div v-if="model" class="body">
            <div class="keys">
                
                <div v-if="interactive">
                    <div class="key-row" v-for="(keySet, index) in keySets">
                        <NoiseKey
                            v-for="key in keySet"
                            :noise="model.keys[key]"
                            :key="key"
                            :character="key"
                            :off="off"
                            v-on:noise-clicked="$emit('noise-clicked', $event)">
                        </NoiseKey>
                    </div>
                </div>

                <div v-else>
                    <div class="key-row" v-for="(keySet, index) in keySets">
                        <AssignmentKey
                            v-for="key in keySet"
                            :noise="model.keys[key]"
                            :key="key"
                            :character="key"
                            v-on:assign="$emit('assign-noise', key)"
                            v-on:unassign="$emit('unassign-noise', key)">
                        </AssignmentKey>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</template>